@charset "UTF-8";

body { background-color: #8b6250; font-family: Helvetica, "Trebuchet MS", sans-serif; font-size: 130%; color: white; text-align: center; margin: 0; }

a:link, a:visited { color: #b9ff33; }
strong { font-size: 110%; }
#info { border-bottom: 4px solid #a7d74c; border-top: 4px solid #a7d74c; padding: 10px; margin: 0 0 10px 0; font-size: 98%; }
#info strong a { color: #fff; text-decoration: none; border-bottom: 1px dotted #fff; }
#info strong a:hover { color: #b9ff33; border-color: #b9ff33; }
#info #learnmore { font-size: 60%; }
.callout { background-color: #a7d74c; display: block; padding: 10px 0; margin: 20px 0 0 0; text-decoration: none; font-size: 100%;  }
.callout-info { background:none repeat scroll 0 0 #000000; font-size:70%; opacity:0.8; padding:10px 20px 20px 20px; text-align:left; overflow: hidden; top: 0; left: 0; margin: 0 0 20px 0; }
#social { margin: 0 0 20px 0; }
#social iframe { margin-bottom: -5px; }
section, header { clear: both; float: left; width: 100%; }


/* Desconf2 */

/* image replacement */
.img { background-repeat: no-repeat; background-position: 0 0; }
.img, .img * { text-indent: -1000; font-size: 1px; }
.img * { visibility: hidden; width: 0; }

/* header */
header { height: 292px; padding-top: 30px; background: url(i/header-bg.jpg) repeat-x -15px bottom; }
#logo { background-image: url(i/header-desconf-logo.jpg); height: 252px; /* fix for bad grid usage :( */ width: 350px; margin-right: 0; }
#top-teaser { background-image: url(i/header-top-teaser.jpg); height: 252px; }

/* desconf-info */
#desconf-info { }
#desconf-info ul.info { padding: 15px 0; }
#desconf-info ul.info li { height: 285px; }
#desconf-quando { background-image: url(i/desconf-info-quando.jpg); margin-left: -10px; margin-right: 30px; width: 235px; }
#desconf-onde { background-image: url(i/desconf-info-onde.jpg); width: 235px; }
#desconf-info #desconf-oque { margin-left:25px; }
#desconf-info #desconf-oque p { padding-top: 30px; text-align: center; color: #a03d3d; }
#desconf-oque strong, #desconf-oque a { font-weight: bold; font-size: 22px; color: #d64848; }
#desconf-oque a { border-bottom: 1px dotted; text-decoration: none; }

#info2 { background: url(i/desconf-info2-bg.jpg) repeat-x -15px 0; margin-top: -3px; }
#desconf-como { padding-top: 30px; }
#desconf-como h2 { background-image: url(i/cronograma-header.png); margin-top: 0; margin-bottom: 20px; height: 28px; margin-left: 30px; }
#info2 #desconf-cronograma { background: url(i/cronograma.png) no-repeat 0 -2px; height: 211px; margin-left: 40px; }

/* desconf-registro */
#desconf-registro h2 { background-image: url(i/registre-seu-interesse.png); background-position: -1px 0; width: 123px; height: 381px; margin-top: -285px; margin-left: 10px; }
#desconf-registro form { float: left; width: 100%; margin-top: -52px; clear: both; height: 74px; background: #000 url(i/emailbar-17.png); }
#desconf-registro form div { margin: 15px 0 0 175px; float: left; }
#desconf-registro input { background: transparent; border: none; color: #c0e52e;  }
#desconf-registro label { text-transform: lowercase; font-size: 38px; }
#email-input { width: 445px; height: 32px; line-height: 32px; font-weight: bold; text-transform: lowercase; font-size: 30px; }
#desconf-registro .submit { font-size: 38px; line-height: 20px; font-weight: bold;  cursor: pointer; }
#desconf-registro .submit:hover { background: #fff; -moz-border-radius: 10px; -webkit-border-radius: 30px; }

/* callout */
#callout { width: 100%; font-size: 14px; padding: 5px 0; background-color: #d64848; border-bottom: 2px solid #a03d3d; }
#callout a { color: #FFFC9F; }

/* desconf-social */
#desconf-social { padding: 80px 0 0 0; text-align: left; }
#desconf-blog { background: #eaeaea; color: #333; font-size: 14px; -webkit-border-radius: 3px; -webkit-box-shadow: #aaa 1px 1px 1px; }
#desconf-blog h2 { margin: -19px 10px 0 0; padding: 0; color: #eaeaea; text-transform: uppercase; text-align: right; text-shadow: #aaa 1px 0 1px; }
#desconf-blog .viewmore { text-align: right; padding: 0 0 10px; }
#desconf-blog .viewmore a { color: #fff; background-color: #d64848; padding: 2px 12px 2px 4px; text-transform: uppercase; font-weight: bold; text-decoration: none; }
#blog-entries a { color: #d64848; text-decoration: none; }
#blog-entries a:hover { border-bottom: 1px dotted #d64848; }
#blog-entries { padding: 0 10px 10px; }
#blog-entries .entry { border-bottom: 1px #fff solid; padding: 10px 0; }
#blog-entries .entry .date { color: #aaa; padding: 0 5px; }
