@charset "UTF-8";

body { background-color: #8b6250; font-family: Arial, sans-serif; font-size: 130%; color: white; text-align: center; margin: 0; }
#footer { position: relative; }
#footer small { font-size: 70%; }
a:link, a:visited { color: #b9ff33; }
strong { font-size: 110%; }
#wrapper { width: 500px; margin: 0 auto; }
#info { border-bottom: 4px solid #a7d74c; border-top: 4px solid #a7d74c; padding: 10px; margin: 0 0 10px 0; font-size: 98%; }
#info strong a { color: #fff; text-decoration: none; border-bottom: 1px dotted #fff; }
#info strong a:hover { color: #b9ff33; border-color: #b9ff33; }
#info #learnmore { font-size: 60%; }
.callout { background-color: #a7d74c; display: block; padding: 10px 0; margin: 20px 0 0 0; text-decoration: none; font-size: 100%;  }
.callout-info { background:none repeat scroll 0 0 #000000; font-size:70%; opacity:0.8; padding:10px 20px 20px 20px; text-align:left; overflow: hidden; top: 0; left: 0; margin: 0 0 20px 0; }
#social { margin: 0 0 0 0; }
#social small { font-size: 70%; }
#social iframe { margin-bottom: -5px; }
section { clear: both; float: left; width: 100%; }
#teaser { font-size: 80%; line-height: 125%; text-align: left; padding: 28px 0 0 0; }
#logo { float: left; margin-right: 20px } 
