<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>#desconf - Desconferência Rápida</title>
<!--[if lte IE 8]>
<script src="/javascripts/html5.js" type="text/javascript"></script>
<![endif]-->
<link href="/stylesheets/grid.css" type="text/css" rel="stylesheet"></link>
<link href="/stylesheets/desconf.css" type="text/css" rel="stylesheet"></link>

<script type="text/javascript"> var gOverride = { gColumns: 16, size: 960 }; </script>
<script type="text/javascript">
    if (window.location.pathname == '/registrar') alert("Obrigado pelo seu interesse! \nEntraremos em contato quando tivermos mais informações!");
</script>
</head>

<body>
    <header>
        <div class="container_16">
            <div class="push_1 grid_14">
                <div id="logo" class="img grid_6 alpha">
                    <strong>Desconferência Rápida</strong>
                </div>
                <div id="top-teaser" class="img push_1 grid_8 omega">
                    <em>Empreendedorismo, Web,
                    Design, Desenvolvimento...
                    e 5 minutos</em>
                </div>
            </div>
        </div>
    </header>
    <section id="desconf-info">
        <div style="background-color: #eaeaea;">
            <div class="container_16">
                <ul class="info push_1 grid_14">
                    <li id="desconf-quando" class="img grid_4 alpha">
                        <p><b>Quando?</b> Dia 20 de Novembro</p>
                    </li>
                    <li id="desconf-onde" class="img grid_4">
                        <p><b>Onde?</b> Porto Alegre</p>
                    </li>
                    <li id="desconf-oque" class="grid_5 omega">
                        <p>Um dia de <strong>final de semana</strong>, <br />algumas horas, <br />só de <a href="http://blog.desconf.org/dojo-o-que-porque-e-como" target="_blank">Dojos</a> <br />e <a href="http://blog.desconf.org/introducao-rapida-a-lightning-talks" target="_blank">Lightning Talks</a>, <br />umas <strong>50 cabeças</strong> reunidas, <br />dividindo <strong>conhecimento</strong> <br />e trocando <strong>experiências</strong>. </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="info2">
            <div id="desconf-como" class="container_16">
                <h2 class="img grid_12 push_3"><a name="desconf-cronograma"></a><span>Cronograma Desconferência Rápida:</span></h2>
                <ul id="desconf-cronograma" class="img grid_12 push_3">
                
                    <li>
                        Lightning Talks <em>Todos falam 5 minutos</em>
                    </li>
                    <li>
                        Design Dojo  e Coding Dojo
                        <em>No Coffee Break</em> 
                    </li>
                    <li>
                        Lightning Talks <em>Não falou ainda? Vai falar agora!</em>
                    </li>
                    <li>
                        Bar e Ceva <em>Trocar ideia no bar, não podia faltar</em>
                    </li>
                
                </ul>
                <div class="clear"></div>
            </div>
            <div id="desconf-registro">
                <div class="container_16">
                    <h2 class="img grid_2 push_1"><span>Registre seu interesse</span></h2>
                    <form action="/registrar" method="post" onsubmit="return validaemail()">
                        <div id="form-background">
                            
                            <label for="email-input">Seu e-mail aqui:</label>
                            <input onfocus="if (this.value == '_') this.value = '';" onblur="if (this.value == '') this.value = '_';" id="email-input" value="_" name="email" type="text" />
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                            <input class="submit" value="&raquo;" type="submit" />
                        </div>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="desconf-social">
        <div class="container_16">
            <div class="push_1 grid_7 bucket">
                <h2>Twitter Buzz</h2>
                <div id="twitter-entries">
                <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'desconf',
  interval: 8000,
  title: '',
  subject: '',
  width: 'auto',
  height: 235,
  theme: {
    shell: {
      background: '#eaeaea',
      color: '#eaeaea'
    },
    tweets: {
      background: '#eaeaea',
      color: '#333333',
      links: '#d64848'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>
                </div>
            </div>
            <div class="push_1 grid_7 bucket" id="desconf-blog">
                <h2>Rolando No Blog</h2>
                <div id="blog-entries">
                    Carregando...
                </div>
                <div class="viewmore">
                    <a href="http://blog.desconf.org">quero ver +</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <footer style="float: left; width: 100%; clear: both; padding: 30px 0 15px 0; font-size: 18px; text-align: left;">
        <div class="container_16">
            <div class="push_1 grid_14">
                <div id="social">
                    <small>Curtiu? Mostre seu apoio retuitando a <a href="http://twitter.com/search?q=desconf"><small>#</small>desconf</a>!</small>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://desconf.org" data-text="Desconferência Rápida? Eu apoio! #desconf" data-count="horizontal">Tweet</a>
                </div>

                <small>
                    blog: <a href="http://blog.desconf.org">blog.desconf.com</a> |
                    twitter: <a href="http://twitter.com/desconf">@desconf</a> |
                    e-mail: <a href="mailto:contato@desconf.org">contato at desconf.org</a>
                    <br />
                    desconf.org | nenhum direito reservado.
                </small>
            </div>
        </div>
    </footer>


<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAUdXm0aqEdOrIJilGr5l1cBQC1Vvux10eV0JNt-e-IY8DvborkBR4MHdPSkRH8SVm8Qyo-3DJqzHIOA"></script>
<script type="text/javascript">
google.load('feeds', '1');
google.setOnLoadCallback(function() {

    var blogFeeds = new google.feeds.Feed('http://blog.desconf.org/rss.xml')
        entriesWrapper = document.getElementById('blog-entries'),
        entriesToShow = 3, displayHTML = '', entryDate = null;

    blogFeeds.load(function(result) {
        if (result.error) return;
        
        for (var i = 0; i < entriesToShow; i++) {
            entryDate = new Date(result.feed.entries[i].publishedDate);

            displayHTML += 
                "<div class='entry'><strong><a class='title' href='%link%'>%title%</a><span class='date'>%date%</span></strong><div>%content%</div></div>"
                    .replace(/\%link\%/g, result.feed.entries[i].link)
                    .replace(/\%title\%/g, result.feed.entries[i].title)
                    .replace(/\%content\%/g, result.feed.entries[i].contentSnippet)
                    .replace(/\%date\%/g, entryDate.getDate() + '/' + (entryDate.getMonth() + 1)  );
        }
        entriesWrapper.innerHTML = displayHTML;
    });

});


function validaemail() {
    var emailInput = document.getElementById('email-input'),
        emailCheck = /.*@.*/;
    
    if (emailCheck.test(emailInput.value)) return true;
    else {
        alert('Por favor, passe seu e-mail para registrar interesse!');
        return false;
    }
}
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2813289-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>

</html>
