<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>#desconf - Desconferência Rápida</title>
<!--[if lte IE 8]>
<script src="html5.js" type="text/javascript"></script>
<![endif]-->
<link href="stylesheets/grid.css" type="text/css" rel="stylesheet"></link>
<link href="stylesheets/desconf.css" type="text/css" rel="stylesheet"></link>

<script type="text/javascript"> var gOverride = { gColumns: 16, size: 960 }; </script>

</head>

<body>

    <header>
        <div class="container_16">
            <div class="push_1 grid_14">
                <div id="logo" class="img grid_6 alpha">
                    <strong>Desconferência Rápida</strong>
                </div>
                <div id="top-teaser" class="img push_1 grid_8 omega">
                    <em>Empreendedorismo, Web,
                    Design, Desenvolvimento...
                    e 5 minutos</em>
                </div>
            </div>
        </div>
    </header>
    <section id="desconf-info">
        <div class="container_16">
            <ul class="info push_1 grid_14">
                <li id="desconf-quando" class="img grid_4 alpha">
                    <p><b>Quando?</b> Dia 20 de Novembro</p>
                </li>
                <li id="desconf-onde" class="img grid_4">
                    <p><b>Onde?</b> Porto Alegre</p>
                </li>
                <li id="desconf-oque" class="grid_5 omega">
                    <ul>
                        <li><strong class="big-num">5</strong> horas</li>
                        <li><strong class="big-num">50</strong> cabeças</li>
                        <li>Todos trocando <strong>idéias</strong></li>
                        <li>Todos dividindo <strong>experiências</strong></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="info push_1 grid_14">
            <div id="desconf-cronograma">
                <h2>Cronograma Desconferência Rápida:</h2>
            </div>
        </div>
    </section>


    <div id="wrapper" style="display:none;">
        <img src="/images/desconf-original.png" id="logo" width="240" />
        <div id="teaser">
            Empreendedorismo, Web, Design, Lean, Usabilidade, Carreira,
            Ruby, Social Media, Acessibilidade, Produtos, Scrum, Idéias, 
            Python, Cores, Liderança, PHP, <br />XP, User Experience,
            <br />Open Source, E-Commerce<br /><strong>... e 5 minutos</strong>.
        </div>
        <section>
            <div id="info">
                Um dia de final de semana, algumas horas, só de 
                <strong><a target="_blank" href="http://blog.desconf.org/introducao-rapida-a-lightning-talks">Lightning Talks</a></strong> e 
                <strong><a target="_blank" href="http://blog.desconf.org/dojo-o-que-porque-e-como">Dojos</a></strong>,
                com umas 50 pessoas, todos auto-organizados, participando com o intuito
                de dividir conhecimento e compartilhar experiências.
                <br /><a id="learnmore" href="http://blog.desconf.org/o-que-e-a-desconf">SAIBA MAIS!</a>
            </div>
            <div id="social">
                <small>Ajude a <a href="http://twitter.com/desconf"><small>@</small>desconf</a> acontecer divulgando o evento no Twitter!</small>
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://desconf.org" data-text="Desconferência Rápida? Eu apoio! #desconf" data-count="horizontal">Tweet</a>
            </div>

        </section>

        <section id="footer">
            <h2 class="callout">
                Estamos precisando de apoiadores!
            </h2>
            <p class="callout-info">
                Temos o conceito, a cara e a coragem, agora precisamos de apoio, experiência e estrutura.
                Se você gostaria de apoiar esta idéia, como patrocinador, parceiro, ou mentor, nós temos muito interesse em falar a respeito. <br />
                <a href="http://blog.desconf.org/o-que-e-a-desconf">Saiba mais sobre o que é a @desconf</a>, 
                <a href="http://blog.desconf.org/pages/quem-e">conheça quem está por trás dessa idéia</a> 
                e <a href="mailto:contato@desconf.org">entre em contato!</a>
            </p>            
            <small>
                blog: <a href="http://blog.desconf.org">blog.desconf.com</a> |
                twitter: <a href="http://twitter.com/desconf">@desconf</a> |
                e-mail: <a href="mailto:contato@desconf.org">contato at desconf.org</a>
                <br />
                desconf.org | Nenhum direito reservado.
            </small>
        </section>
    </div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2813289-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>

</html>
